{% extends 'base.html'  %}

{% block content %}
<h1 class="display-1">{{user.username}}</h1>
<h2>{{user.first_name}} - {{user.last_name}} - {{user.email}}</h2>

<h1>Feedback</h1>

<a href="/users/{{user.username}}/feedback/add">Add Feedback</a>

{% for f in user.feedback %}
<div>
  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title text-info">
        {{user.username}}
        {% if session['username'] == user.username %}
        <form style="display:inline;" action="/feedback/{{f.id}}/update">
            <button class="btn btn-sm btn-secondary">Update Feedback</button>
          </form>
        <form style="display:inline;" action="/feedback/{{f.id}}/delete" method="POST">
          <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
        </form>
        {% endif %}
      </h5>
      <p class="card-subtitle mb-2"><b>{{f.title}}</b></p>
      <p class="card-text">
        {{f.content}}
      </p>
    </div>
  </div>
</div>
{% endfor %}
<div>
    {% if session['username'] == user.username %}
    <form style="display:inline;" action="/user/{{user.username}}/delete" method="POST">
      <button class="btn btn-sm btn-danger">Delete User</i></button>
    </form>
    {% endif %}
</div>
{% endblock %}